CarND-Behavioral-Cloning-P3/data/** filter=lfs diff=lfs merge=lfs -text
CarND-Traffic-Sign-Classifier-Project/traffic-signs-data/** filter=lfs diff=lfs merge=lfs -text
CarND-Vehicle-Detection/train_image/** filter=lfs diff=lfs merge=lfs -text
